In [1]:
pip install featuretools

Collecting featuretools
  Downloading featuretools-0.18.1-py3-none-any.whl (271 kB)
     |████████████████████████████████| 271 kB 2.5 MB/s eta 0:00:01
Requirement already satisfied: click>=7.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (7.0)
Requirement already satisfied: pyyaml>=3.12 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (5.3)
Requirement already satisfied: tqdm>=4.32.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (4.41.1)
Collecting cloudpickle>=0.4.0
  Downloading cloudpickle-1.5.0-py3-none-any.whl (22 kB)
Requirement already satisfied: scipy>=0.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (1.4.1)
Collecting dask[dataframe]>=2.12.0
  Downloading dask-2.23.0-py3-none-any.whl (831 kB)
     |████████████████████████████████| 831 kB 12.8 MB/s eta 0:00:01
Requirement already satisfied: pandas<2.0.0,>=0.24.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (0.25.3)
Collecting distributed>=2.12.0
  Downloading distributed-2.23.0-py3-none-any.whl (650 kB)
     |████████████████████████████████| 650 kB 12.4 MB/s eta 0:00:01
Requirement already satisfied: psutil>=5.4.8 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (5.7.2)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from featuretools) (1.17.4)
Requirement already satisfied: toolz>=0.8.2; extra == "dataframe" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from dask[dataframe]>=2.12.0->featuretools) (0.10.0)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading fsspec-0.8.0-py3-none-any.whl (85 kB)
     |████████████████████████████████| 85 kB 3.7 MB/s eta 0:00:011
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading partd-1.1.0-py3-none-any.whl (19 kB)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas<2.0.0,>=0.24.1->featuretools) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas<2.0.0,>=0.24.1->featuretools) (2019.3)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from distributed>=2.12.0->featuretools) (49.2.0.post20200712)
Collecting tblib>=1.6.0
  Downloading tblib-1.7.0-py2.py3-none-any.whl (12 kB)
Collecting msgpack>=0.6.0
  Downloading msgpack-1.0.0-cp37-cp37m-manylinux1_x86_64.whl (275 kB)
     |████████████████████████████████| 275 kB 18.2 MB/s eta 0:00:01
Collecting zict>=0.1.3
  Downloading zict-2.0.0-py3-none-any.whl (10 kB)
Collecting sortedcontainers!=2.0.0,!=2.0.1
  Downloading sortedcontainers-2.2.2-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from distributed>=2.12.0->featuretools) (6.0.3)
Collecting locket
  Downloading locket-0.2.0.tar.gz (3.5 kB)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas<2.0.0,>=0.24.1->featuretools) (1.14.0)
Collecting heapdict
  Downloading HeapDict-1.0.1-py3-none-any.whl (3.9 kB)
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-py3-none-any.whl size=4038 sha256=cb27e454a1d762133bec97f5a4b9401a55d5a883bd2b94dae20f57ba550ba865
  Stored in directory: /home/jovyan/.cache/pip/wheels/7d/21/ce/56f01c644a11bde5d09ecae16d9b5e9d7e988187624fd28fec
Successfully built locket
Installing collected packages: cloudpickle, fsspec, locket, partd, dask, tblib, msgpack, heapdict, zict, sortedcontainers, distributed, featuretools
Successfully installed cloudpickle-1.5.0 dask-2.23.0 distributed-2.23.0 featuretools-0.18.1 fsspec-0.8.0 heapdict-1.0.1 locket-0.2.0 msgpack-1.0.0 partd-1.1.0 sortedcontainers-2.2.2 tblib-1.7.0 zict-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Defining the path to the 
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter17/Datasets/bank-full.csv'

In [3]:
# Loading data using pandas
import pandas as pd
bankData = pd.read_csv(file_url,sep=";")
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
# Removing the target variable
Y = bankData.pop('y')

In [5]:
# Creating the Ids for Demographic Entity
bankData['custID'] = bankData.index.values

bankData['custID'] = 'cust' + bankData['custID'].astype(str)

In [6]:
# Creating AssetId
bankData['AssetId'] = 0
bankData.loc[bankData.housing == 'yes','AssetId']= 1

In [7]:
# Creating LoanId
bankData['LoanId'] = 0
bankData.loc[bankData.loan == 'yes','LoanId']= 1

In [8]:
# Creating Financial behaviour ID
bankData['FinbehId'] = 0
bankData.loc[bankData.default == 'yes','FinbehId']= 1

In [9]:
# Displaying the new data frame after adding the ids
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,custID,AssetId,LoanId,FinbehId
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,cust0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,cust1,1,0,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,cust2,1,1,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,cust3,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,cust4,0,0,0

In [10]:
# Importing necessary libraries
import featuretools as ft
import numpy as np

In [11]:
# creating the entity set 'Bankentities'
Bankentities = ft.EntitySet(id = 'Bank')

In [12]:
# Mapping a dataframe to the entityset to form the parent entity
Bankentities.entity_from_dataframe(entity_id = 'Demographic Data', dataframe = bankData, index = 'custID')

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 20]
  Relationships:
    No relationships

In [13]:
# Mapping Assets and setting the relationship
Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='Assets', index = 'AssetId', 
additional_variables = ['housing'])

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 19]
    Assets [Rows: 2, Columns: 2]
  Relationships:
    Demographic Data.AssetId -> Assets.AssetId

In [14]:
# Mapping Loans and Financial behavior entities
Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='Liability', index = 'LoanId', 
additional_variables = ['loan'])

Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='FinBehaviour', index = 'FinbehId', 
additional_variables = ['default'])

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 17]
    Assets [Rows: 2, Columns: 2]
    Liability [Rows: 2, Columns: 2]
    FinBehaviour [Rows: 2, Columns: 2]
  Relationships:
    Demographic Data.AssetId -> Assets.AssetId
    Demographic Data.LoanId -> Liability.LoanId
    Demographic Data.FinbehId -> FinBehaviour.FinbehId